
:root{
    --fondogeneral : #fbfbfb;
    --fondobotonyfooter: #af599e;
    --fondocontactos : rgba(175, 89, 158, 0.3);
    --textos: #0f0f0f;
    --textobotonyfooter: #fbfbfb;
}

/*Globales*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}


ul {
    list-style: none;
}

p{
    font-size: 20px;
    color: var(--textos);
    font-weight: 400;
    
}

button{
    font-size: 20px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    width: 240px;
    height: 60px;
}

h1{
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 28px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 28px;
}

main {
    max-width: 1200px;
    margin: auto;
}


img{
    max-width: 180px;
}

.contenedor{
    
    width: 500px;
    margin: auto;
}
/*header*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    height: 90px;
    -webkit-box-shadow: 0px 11px 7px -6px rgba(115,115,115,0.62);
    -moz-box-shadow: 0px 11px 7px -6px rgba(115,115,115,0.62);
    box-shadow: 0px 11px 7px -6px rgba(115,115,115,0.62);
    position: fixed;
    background-color: var(--fondogeneral);
    width: 500px;
    
}

.texto-header{
    display: flex;
    gap: 2rem;
    margin-right: 40px;
}


/*sobremi*/
.perfil-imagen img{
    max-width: 400px;
    border-radius: 100%;
    margin-left: 45px;
    margin-top: 120px;
}

.perfil-texto{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.perfil-boton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*Hablemos*/
.hablemos{
    padding: 1rem;
}
.hablemos-texto{
    background-color: var(--fondocontactos);
}

.hablemos-texto{
    margin-top: 200px;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 2rem;
}

/*Contacto*/
.contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 80px;
    margin-top: 40px;
}
.imagen-contacto{
    max-width: 60px;
}
/*footer*/
.footer, .boton{
    background-color: var(--fondobotonyfooter);
    color: var(--textobotonyfooter);
}

.footer{
    height: 90px;
    text-align: center;
    padding-top: 2rem;
}